<!DOCTYPE html>

<html>

<head>
    <title>Super Sprinter 3000 - Edit Story</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div id="formdiv">
        <form action="/story/{{ id }}" method="post">
            <h1>User Story manager - Edit Story</h1>
            <label>
                <span>Story Title</span><input type="text" value=" {{ sel_list[1] }} " id="title" name="title" />
            </label>

            <label>
                <span>User Story</span><textarea type="text" id="story" name="story">{{ sel_list[2] }}</textarea />
            </label>

            <label>
                <span>Acceptance Criteria</span><textarea type="text" id="criteria" name="criteria">{{ sel_list[3] }}</textarea>
            </label>

            <label>
                <span>Business Value</span><input type="number" value={{ sel_list[4] }} min="100" max="1500" step="100" id="business" name="business" required>
            </label>

            <label>
                <span>Estimation (h)</span><input type="number" value={{ sel_list[5] }} min="0.5" max="40" step="0.5" id="estimation" name="estimation" required>
            </label>

            <label>
                <select name="progress" required>
                    <option {{ selected[0]}} value="Planning">Planning</option>
                    <option {{ selected[1]}} value="TODO">TODO</option>
                    <option {{ selected[2]}} value="In Progress">In Progress</option>
                    <option {{ selected[3]}} value="Review">Review</option>
                    <option {{ selected[4]}} value="Done">Done</option>
                </select>
            </label>

            <label>
                <input type="submit" value="Update" />
            </label>

        </form>
    </div>
</body>